body{
    margin: 0;
    padding: 0;
    background-image: url(./islamujeres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    color: aliceblue;
    
}
