.header{
    height:250px;
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    margin-top: -10px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

}
h1{
    padding: 0;
    margin: 0;
}

